.Party-links {
  color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 10px;
  grid-template-rows: repeat(2, 1fr);
  padding-inline-start: 0px;
}

.Party-links li {
  padding: 1rem;
  border: 3px solid #bb1919;
  margin-top: 1rem;
}
.Party-links li a {
  color: black;
  display: inline-block;
  transition: all 500ms;
}
.Party-links li a:hover {
  transform: scale(1.1);
}