.Scoreboard {
  text-align: left;
}

.logo {
  pointer-events: none;
  width: 90%;
  padding-left: 5%;
}

.Election-scoreboard-header {
  background-color: #bb1919;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 90%;
}

.Scoreboard-refresh {
  padding: 1rem;
  border: 3px solid #bb1919;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s;
}

.Scoreboard-refresh:hover {
  background-color: #bb1919;
  color: white;
}

.winner_res {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
  color: red
}