.Scoreboard {
  text-align: left;
}

.Election-logo {
  height: 40vmin;
  pointer-events: none;
}

.Election-scoreboard-header {
  background-color: #bb1919;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 980px;
}

.Scoreboard-refresh {
  padding: 1rem;
  border: 3px solid #bb1919;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s;
}

.Scoreboard-refresh:hover {
  background-color: #bb1919;
  color: white;
}
